<?xml version='1.0' encoding='utf-8'?>
<widget id="bo.com.studio94.radio" version="0.0.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Studio94</name>
    <description>Radio online Studio94</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-navigation href="about:*" />
    <preference name="SplashMaintainAspectRatio" value="true" />
    <platform name="android">
        <preference name="android-minSdkVersion" value="26" />
        <preference name="android-targetSdkVersion" value="34" />
        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="res/android/LOGO-TRANSPARENTE-3.png" />
        <preference name="AndroidWindowSplashScreenBackground" value="#ffffff" />
        <preference name="AndroidPersistentFileLocation" value="Compatibility" />
        <icon density="hdpi" src="res/android/LOGO2.png" />
    </platform>
    <platform name="ios">
        <preference name="ScrollEnabled" value="true" />
        <preference name="deployment-target" value="12.0" />
        <icon src="res/ios/LOGO2.png" />
        <splash src="res/ios/LOGO-TRANSPARENTE-3.png" />
    </platform>
</widget>
